
<div >
    <h1>Soft skill</h1>
    <div class="row">
        <div class="contenedor col-xs-4 col-sm-4 col-md-4 col-lg-4" id="actitud">
             <img class="iconos"   src="../../../assets/actitud positiva.png"  >
           <p class="texto"> Actitud positiva</p>
        </div>
    
        <div class="contenedor col-xs-4 col-sm-4 col-md-4 col-lg-4" id="adaptabilidad" >
            <img class="iconos" src="../../../assets/adaptabilidad.png">
            <p class="texto"> Adaptabilidad</p>
        </div>
        <div class="contenedor col-xs-4 col-sm-4 col-md-4 col-lg-4 "id="paciencia"> 
            <img class="iconos" src="../../../assets/pacienca.png"  >
            <p class="texto">Paciencia</p>
        </div> 
          <div class="contenedor  col-xs-4 col-sm-4 col-md-4 col-lg-4" id="responsabilidad" >
            <img class="iconos" src="../../../assets/responsabilidad.png" >
            <p class="texto"> Responsabilidad</p>
      </div>
           
    
    
    </div>
    
</div>
