<div class="row">
    <h1 class="forma">Educación</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>Secundaria</h2> - <h4>Año de egreso:1996</h4>
            </li>
            <p>Bachiller Administrativo Contable.
              Instituto General José de San Martín. José C.Paz
            </p>
            <li>
                <h2>Universitario</h2> - <h4>Año de egreso:2012</h4>
            </li>
            <p>Licenciada en Administración de Empresas.
                Facultad de Cs.Económicas - Universidad de Buenos Aires(U.B.A)
            </p>
            <li>
                <h2>Comunicación y equipo de trabajo</h2> - <h4>2018(Tiempo :6 meses)</h4>
                <p> Métodos para poder llevar a cabo en un grupo de trabajo y poder llegar a generar un equipo. </p>     
            </li>
            <li>
                <h2>Cajero Administrativo </h2> <h4>2019(Tiempo:un año)</h4>
<p> Como se aplica planilla de caja, vale de caja,
    reposición de fondo fijo y arqueo de caja.</p>
            </li>
            <li>
                <h2>Facturación y documentos comerciales</h2> <h4>2020(Tiempo:4 meses)</h4>
            <p>Aplicación del IVA dependiendo si es responsable inscripto o monotributista.</p>    
            </li>
            <li>
                <h2>Organización no gubernamental</h2> <h4>(Tiempo:6 meses)</h4>
<p>Indicadores de gestión aplicados a la organización. </p>
            </li>
          
    
    
        </ul>
    </div>
    
    </div>
    
   