<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-2"></div>
<div class="col-lg-10">
    <ul>
        <li>
            <h2>Comercio</h2> - <h4>2015/2013</h4>
        </li>
        <p>Atención al público y cajera.</p>
        <li>
            <h2>Asistente de finanzas en Grupo Scout</h2> - <h4>2017/2013</h4>
        </li>
        <p>Encargada de llevar el libro de actas con el gasto y las entradas que
            se generen en el grupo, cobro de cuotas y control de todos los ingresos que se
            generen.
            </p>
        <li>
            <h2>niñera</h2> - <h4>2016/actual</h4>
            <p>Niñera en casa de familia</p>
        </li>
        
        
           

    </ul>
</div>

</div>
