.row {
    padding: 10px;
}
div {
   
    background-color:rgb(248, 225, 236 ) ;
}
h1, h4 {
    display: inline;
}


.four {
    transform: rotateZ(-90deg);
}

.circle:hover {
background: rgba(142, 92, 205, .25);
}