<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Secundario</h1> - <h4>(tiempo)</h4>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quis suscipit autem maxime ipsam cum minus, consequuntur ea necessitatibus sunt, temporibus alias similique, aliquid magnam eos doloremque. Ipsam, totam adipisci!</p>
            <li>
                <h1>Universitario</h1> - <h4>(tiempo)</h4>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quis suscipit autem maxime ipsam cum minus, consequuntur ea necessitatibus sunt, temporibus alias similique, aliquid magnam eos doloremque. Ipsam, totam adipisci!</p>
            <li>
                <h1>cursos</h1> - <h4>(tiempo)</h4>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quis suscipit autem maxime ipsam cum minus, consequuntur ea necessitatibus sunt, temporibus alias similique, aliquid magnam eos doloremque. Ipsam, totam adipisci!</p>
            <li>
                <h1>cursos</h1> - <h4>(tiempo)</h4>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quis suscipit autem maxime ipsam cum minus, consequuntur ea necessitatibus sunt, temporibus alias similique, aliquid magnam eos doloremque. Ipsam, totam adipisci!</p>
    
    
        </ul>
    </div>
    </div>
    
