<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">


        </div>
        <button type="button" class="btn btn-danger" (click)="login()">acceso</button>
        <div class="redes">
            <a href="https://www.linkedin.com/in/rosana-salva-0218394b/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/rogonra/integrador/commits?author=rogonra"><img src="../../../assets/github.png" id="github"></a>
          
</div>

    </div>
  
</div>
  
      
 