<div class="row">
<h1>Hard Skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="80"
        [imageSrc]="'assets/html2.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ddadaf'"
        [innerStrokeColor]="'#b31b1b'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="80"
        [imageSrc]="'assets/css2.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ddadaf'"
        [innerStrokeColor]="'#b31b1b'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="80"
        [imageSrc]="'assets/boostrap2.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ddadaf'"
        [innerStrokeColor]="'#b31b1b'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="80"
        [imageSrc]="'assets/angular2.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ddadaf'"
        [innerStrokeColor]="'#b31b1b'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="80"
        [imageSrc]="'assets/git2.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ddadaf'"
        [innerStrokeColor]="'#b31b1b'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress> 
    </div>
    
</div>
