.gradient-custom {
    /* fallback for old browsers */
    background:#E9967A ;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(221, 157, 195), rgb(228, 188, 191));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(240, 204, 216), rgb(238, 214, 220))
    }