<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre">Rosana Salva</p>
        <p>Programadora Full Stack Jr </p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h1 id="perfil">Mi perfil</h1>
        <p>
            Es mi primer contacto con el mundo de la programación a través de Argentina Programa.
            Siempre me interesa abrir mis conocimientos para seguir aprendiendo.
            Amo el contacto con la naturaleza y compartir con amigos un buen mate.
        </p>    
        </span>
    </div>
</div>
