<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-2"></div>
<div class="col-lg-10">
    <ul>
        <li>
            <h1>Trabajo1</h1> - <h4>(tiempo)</h4>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quis suscipit autem maxime ipsam cum minus, consequuntur ea necessitatibus sunt, temporibus alias similique, aliquid magnam eos doloremque. Ipsam, totam adipisci!</p>
        <li>
            <h1>Trabajo2</h1> - <h4>(tiempo)</h4>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quis suscipit autem maxime ipsam cum minus, consequuntur ea necessitatibus sunt, temporibus alias similique, aliquid magnam eos doloremque. Ipsam, totam adipisci!</p>
        <li>
            <h1>Trabajo3</h1> - <h4>(tiempo)</h4>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quis suscipit autem maxime ipsam cum minus, consequuntur ea necessitatibus sunt, temporibus alias similique, aliquid magnam eos doloremque. Ipsam, totam adipisci!</p>
        <li>
            <h1>Trabajo4</h1> - <h4>(tiempo)</h4>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quis suscipit autem maxime ipsam cum minus, consequuntur ea necessitatibus sunt, temporibus alias similique, aliquid magnam eos doloremque. Ipsam, totam adipisci!</p>


    </ul>
</div>
</div>
