<div class="row">
    <h1>Proyecto</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-md-7" parte1>
           <h2>Portfolio Web</h2>
           <p>Proyecto integrado de los conocimientos adquiridos a través de un currículum vitae.
               Realizado 30-05-2022
               <a href="https://github.com/rogonra/integrador/tree/master/proyecto">link</a>    
           </p>
        </div>
        <div class="col-sm-12" col-md-3 col-lg-3 parte2>
        
        </div>
    </div>
</div>

   